<footer class="footer text-white pt-5 pb-4">
  <div class="container text-center text-md-end">
    <div class="row">
      <!-- القسم الأول: عن المتجر -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
        <h5 class="text-uppercase fw-bold">متجر رُقي العطور</h5>
        <p>أفضل مكان لشراء العطور العربية بجودة عالية وأسعار مناسبة.</p>
      </div>

      <!-- القسم الثاني: روابط مفيدة -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
        <h5 class="text-uppercase fw-bold">روابط سريعة</h5>
        <ul class="list-unstyled">
          <li>
            <a routerLink="" class="text text-decoration-none">الرئيسية</a>
          </li>
          <li>
            <a routerLink="SpecialOffers" class="text text-decoration-none">عروض اليوم</a>
          </li>
          <li>
            <a href="#" class="text text-decoration-none">من نحن</a>
          </li>
          <li>
            <a routerLink="contact" class="text text-decoration-none"
              >اتصل بنا</a
            >
          </li>
        </ul>
      </div>

      <!-- القسم الثالث: سياسة المتجر -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
        <h5 class="text-uppercase fw-bold">سياسات المتجر</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#" class="text text-decoration-none"
              >الشحن والتوصيل</a
            >
          </li>
          <li>
            <a href="#" class="text text-decoration-none"
              >الاسترجاع والاستبدال</a
            >
          </li>
          <li>
            <a href="#" class="text text-decoration-none"
              >سياسة الخصوصية</a
            >
          </li>
          <li>
            <a href="#" class="text text-decoration-none"
              >الشروط والأحكام</a
            >
          </li>
        </ul>
      </div>

      <!-- القسم الرابع: تواصل معنا -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-4">
        <h5 class="text-uppercase fw-bold">تواصل معنا</h5>
        <p><i class="fas fa-home me-2"></i> الدقهلية مصر</p>
        <p><i class="fas fa-envelope me-2"></i>rokkiperfumes.com</p>
        <p>
          <i class="fas fa-phone me-2" style="direction: rtl"></i> +201119842314
        </p>

        <!-- أيقونات السوشيال ميديا -->
        <div class="mt-3">
          <a href="https://www.facebook.com/" target="_blank" class="text-white me-3"
            ><i class="fab fa-facebook fa-lg"></i
          ></a>
          <a href="https://www.instagram.com/" target="_blank" class="text-white me-3"
            ><i class="fab fa-instagram fa-lg"></i
          ></a>
          <a href="https://www.twitter.com/" target="_blank" class="text-white me-3"
            ><i class="fab fa-twitter fa-lg"></i
          ></a>
          <a href="#" class="text-white me-3"
            ><i class="fab fa-whatsapp fa-lg"></i
          ></a>
        </div>
      </div>
    </div>

    <!-- حقوق الملكية -->
    <div class="text-center pt-3 border-top">
      <p class="mb-0">جميع الحقوق محفوظة &copy; 2024 رُقي العطور</p>
    </div>
  </div>
</footer>
