<app-header
  *ngIf="currentUrl !== '/login' && currentUrl !== '/register'"
></app-header>
<app-bottom-nav
  *ngIf="
    currentUrl !== '/register' &&
    currentUrl !== '/login' &&
    currentUrl !== '/verify-otp' &&
    currentUrl !== '/resend-otp'
  "
></app-bottom-nav>
<app-carousel *ngIf="currentUrl === '/'"></app-carousel>
<app-products *ngIf="currentUrl === '/'"></app-products>

<router-outlet></router-outlet>
<app-footer
  *ngIf="
    currentUrl !== '/register' &&
    currentUrl !== '/login' &&
    currentUrl !== '/verify-otp' &&
    currentUrl !== '/resend-otp'
  "
></app-footer>
